.latest {
  position: relative;
  letter-spacing: 2.38px;
  line-height: 16px;
  text-transform: uppercase;
}
.divwdtHeadingSubtitleWrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 94.99685668945312px 0 95.28314208984375px;
}
.newsBlogs {
  position: relative;
  line-height: 52.62px;
  font-weight: 500;
  display: inline-block;
  max-height: 52.619998931884766px;
}
.heading2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 43.8px;
  color: #000;
  font-family: Outfit;
}
.divwdtHeadingF9a28d3 {
  align-self: stretch;
  flex-direction: column;
  gap: 10px;
}
.divelementorElement,
.divelementorElement1,
.divtplBlogHolder,
.divwdtHeadingF9a28d3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divelementorElement {
  position: absolute;
  height: calc(100% - 588.4px);
  top: 24.4px;
  bottom: 564px;
  left: calc(50% - 128.4px);
  flex-direction: column;
  padding: 0 0 39.99000549316406px;
  box-sizing: border-box;
  max-width: 1440px;
}
.divelementorElement1,
.divtplBlogHolder {
  align-self: stretch;
}
.divtplBlogHolder {
  height: 588px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0.1400146484375px 0 0;
  box-sizing: border-box;
}
.divelementorElement1 {
  flex: 1;
  flex-direction: column;
}
.divelementorContainer1,
.section1 {
  width: 1440px;
  display: flex;
  justify-content: flex-start;
}
.divelementorContainer1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 1440px;
}
.section1 {
  position: absolute;
  height: calc(100% - 119px);
  top: 143.1px;
  bottom: -24.1px;
  left: calc(50% - 719.8px);
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 12px;
  color: #000;
}
.divelementorWidgetWrap {
  flex: 1;
  position: relative;
  height: 707px;
}
.divelementorContainer,
.section {
  display: flex;
  justify-content: flex-start;
}
.divelementorContainer {
  width: 1440px;
  height: 706.6px;
  flex-direction: row;
  align-items: flex-start;
}
.section {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  text-align: center;
  font-size: 16px;
  color: #202020;
  font-family: Lato;
}
